[submodule ".devcontainer"]
	path = .devcontainer
	url = ../sfg_agent_devcontainer.git
[submodule "colcon_ws/src/sfg_agent_common"]
	path = colcon_ws/src/sfg_agent_common
	url = ../sfg_agent_common.git
[submodule "colcon_ws/src/sfg_tb4_shared"]
	path = colcon_ws/src/sfg_tb4_shared
	url = ../sfg_tb4_shared.git
