[submodule ".devcontainer"]
	path = .devcontainer
	url = ../../tools/agent-dev-container.git
[submodule "colcon_ws/src/sfg_agent_common"]
	path = colcon_ws/src/sfg_agent_common
	url = ../agent-common.git
[submodule "fast_dds_router"]
	path = fast_dds_router
	url = ../../tools/fast-dds-router.git
